#systemd unit for reddit
[Unit]
Description=Reddit App (with Puma)
After=mongodb.service

[Service]
Type=forking
ExecStart=/usr/local/bin/puma -d --pidfile /tmp/reddit.pid --dir /opt/app
PIDFile=/tmp/puma.pid
ExecStop=/usr/local/bin/pumactl -P /tmp/reddit.pid stop

[Install]
WantedBy=multi-user.target
